#
# source directory
#
jvm=${env.JAVA_HOME}/bin/java
javac.source=src/main/java
javac.source.test=src/test/java
javac.resource=src/main/resources
javac.resource.test=src/test/resources
javac.dest=target/classes
javac.dest.test=target/test-classes

vavi.dir=${user.home}/src/foo
m2.repo=${user.home}/.m2/repository

dir.windows=c:/WINDOWS
windows.home=${dir.windows}/system32
jdk.home=c:/usr/local/java
cygwin.home=c:/usr/local/cygwin
mingw.include=${cygwin.home}/usr/include/mingw
w32api.include=${cygwin.home}/usr/include/w32api
mingw.lib=${cygwin.home}/lib/mingw

stuffit.include=c:/tmp/000/stuffit/src

jacobgen.home=c:/tmp/000/jacobgen_0.10
com4j.home=c:/tmp/000/com4j
